<!DOCTYPE html>
<html>
<head>
    <title>Table Data: {{ table_name|cut:"public." }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Table Data: {{ table_name|cut:"public." }}</h1>
    <table border="1">
        <tr>
            {% for col in columns %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'view_and_search_tables' %}" class="button">Back to table list</a>
</body>
</html>